<table>
    <thead>
        <tr>
            <th>Id</th>
            <th>Nombre</th>
            <th>Imagen</th>
            <th>Id movimiento</th>
        </tr>
    </thead>
    <tbody>
        <tr *ngFor="let pokemon of pokemons$ | async; let i = index">
            <td>{{ i + 1 }}</td>
            <td>{{ pokemon.name }}</td>
            <td>
                <img [src]="pokemon.imagen" [alt]="pokemon.name" width="50" height="50" />
            </td>
            <td *ngIf="pokemon.movements && pokemon.movements.length > 0">
                <ul>
                    <li *ngFor="let id_movement of pokemon.movements">{{ id_movement }}</li>
                </ul>
            </td>
        </tr>
    </tbody>
</table>


<ng-template #loading>
    <tr>
        <td colspan="3">Loading Pokémon...</td>
    </tr>
</ng-template>