<!-- 
 TODO: 
Le tiene que entrar un array de cadenas de texto que son los titulos de las columnas.
Por el tamaño de ese array construimos todas las columnas. Si me vienen cuantro titulos, pues tendra 4 columnas la tabla.
Este componente debe pintar datos de forma genérica, es decir sea de pokemon o de lo que sea.
Por tanto al componente List le tiene que entrar titles: Array<string> y data: any;
Cada fila ha de llamar a List Item-->

<table>
    <thead>
        <tr>
            <th *ngFor="let title of titles">{{ title }}</th>
        </tr>
    </thead>
    <tbody>
        <app-list-item *ngFor="let item of data" [data]="item" [titles]="titles"></app-list-item>
    </tbody>
</table>